
# Expo
.expo/

# Node modules
node_modules/

# Metro bundler cache
.metro-cache/

# Keystore files (for Android signing)
*.keystore

# Environment variables
.env

# Build artifacts
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
