
# Berkas lingkungan
.env

# Direktori dependensi
node_modules/

# Berkas log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Direktori build sementara Expo
.expo/

# Berkas build dan cache
dist/
.cache/
